.creditschangelog {
  display: flex;
  justify-content: center;
}

.credits,
.changelog {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.credits-header,
.changelog-header {
  font-size: 36px;
  margin-bottom: 12px;
}

.verticalspacer {
  width: 3px;
  height: 400px;
  background-image: linear-gradient(to bottom, #333138 80%, #1c1b1f);
  margin-top: 10px;
}

.fa-solid {
  margin-right: 8px;
}

.credits-content > span {
  margin: 8px;
}

.credits-content > span > .dev,
.helper,
.owner,
.admin {
  padding: 8px;
  border-radius: 4px;
  filter: drop-shadow(0px 0px 20px #00000050);
}

.credits-content > span > .dev {
  background-image: linear-gradient(to bottom right, #f00, #f50);
}

.credits-content > span > .helper {
  background-image: linear-gradient(to bottom right, #090, #0f9);
}

.credits-content > span > .owner {
  background-image: linear-gradient(to bottom right, #fa0, #dd5);
}

.credits-content > span > .admin {
  background-image: linear-gradient(to bottom right, #0af, #0dd);
}

.credits-content > span:hover {
  box-shadow: 0px 0px 40px 3px rgba(255, 255, 255, 0.2);
}
