.github-title {
  font-size: 64px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 25px;
}

.github-button-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.github-button {
  padding: 1rem;
  background-image: linear-gradient(to bottom right, #28272b, #424144);
  border-image: linear-gradient(to right, #8080ff, #3c3cd3) 1;
  border-width: 4px;
  font-family: inherit;
  font-size: 24px;
  cursor: pointer;
  color: white;
  box-shadow: 0px 1px 28px 7px rgba(0, 0, 0, 0.3);
}

.github-button:hover {
  box-shadow: 0px 0px 40px 3px rgba(255, 255, 255, 0.1);
}

.github-text-container {
  flex: 1;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
}

.github {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.github-subtitle {
  font-size: 32px;
  font-style: italic;
  text-align: right;
}

.github-heading {
  font-size: 24px;
  color: #aaa;
  text-align: right;
}

.fa-github {
  margin-left: 12px;
}

@media screen and (max-width: 786px) {
  .github {
    width: 90%;
  }
  .github-button {
    position: relative;
    margin: 0 64px 24px 500px;
    transform: translate(2%, 0%);
    align-items: right;
  }
}
